.single-resources .title{ margin-top: 0 }
.single-resources .decoration{ max-width: 450px; margin: 20px 0; border-top: 1px solid #d7d7d7; }
.single-resources .author-name{ color: #a8a8a8; line-height: 1.4em;}
/* Categories */
.single-resources .categories{margin-bottom: 15px;}
.single-resources .post-categories{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.single-resources .post-categories > li{ display: inline-block;}
/* Categories */

/* Custom Fields */
.single-resources .other-links a{
   border: 2px solid #000000;
   padding: 10px;
   font-size: 14px;
   /* font-weight: bold; */
   /* display: inline-block; */
   padding: 12px 24px;
   margin-right: 30px;
   margin-bottom: 25px;
   margin-top: 20px;
   color: #000000;
   border-radius: 4px 4px 4px 4px;
}

.single-resources .other-links a.external:before{
  font-family: "FontAwesome";
  content: "\f0c1";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 100;
  font-size: 20px;
}

.single-resources .other-links a.media:before{
  font-family: "FontAwesome";
  content: "\f1c1";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 100;
  font-size: 20px;
}
/* Custom Fields */

.single-resources .categories , .single-resources .content p, .single-resources .author-name { font-size: 16px;}

/* Articles List */
 ul.list-articles li.orbit-article{
  padding-top: 20px;
  padding-bottom: 20px;
}
ul.list-articles .v-center{ position: relative; }
ul.list-articles li.orbit-article .orbit-post-image a{ display: block; }
ul.list-articles li.orbit-article .orbit-post-image img{
  max-width: 100%;
  height: auto;
}
ul.list-articles li.orbit-article h4{ font-size: 24px; font-weight: 500; }
/* Articles List */

/* Archive */
body.archive ul.list-articles li.orbit-article{ border-bottom: 1px solid #aaa; }
body.archive ul.list-articles li.orbit-article:first-child{ border-top: none; }
body.archive ul.list-articles li.orbit-article:last-child{ border-bottom: none; }
body.archive ul.list-articles li.orbit-article .categories{ margin-bottom: 10px; }
/* Archive */

/* Load More Button */
.orbit-btn-load-parent{ margin-bottom: 40px;}
.orbit-btn-load-parent .load-more{
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.3333333;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: transparent;
}
.orbit-btn-load-parent .load-more:hover{ text-decoration: underline; }
.orbit-btn-load-parent .load-more:focus{ outline: none;}
/* Load More Button */

@media( min-width: 769px ){
  /* Custom Fields */
  .single-resources .other-links a:hover{
    color: #fff;
    background-color: #000;
  }
}
@media(min-width: 768px){
  .single-resources .other-links { margin-top: 35px; }
  /* Articles List */
  ul.list-articles li.orbit-article{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  ul.list-articles .v-center a{ position: absolute;top:50%;left: 50%; transform: translate(-50%,-50%);}
  /* Articles List */
}
@media( max-width: 767px ){
  .single-resources .other-links a{ display: inline-block; }
  ul.list-articles li.orbit-article .orbit-post-image img{
    max-width: 18%;
  }
}
